<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.S4669024_s4669021"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <!--Declaration of the MainActivity.java-->
        <activity
            android:name="com.assesment1.s4669024_s4669021.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--declaration of the ActivityAddCar.java-->
        <activity android:name="com.assesment1.s4669024_s4669021.ActivityAddCar"
                  android:exported="true">
        </activity>

        <!--declaration of the ActivityCheckCar.java-->
        <activity android:name="com.assesment1.s4669024_s4669021.ActivityCheckCar"
                  android:exported="true">
        </activity>

    </application>

</manifest>